/* _opacity.scss partial mixin */

@mixin opacity($o) {

/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o*100})";

/* IE 5-7 */
  filter: alpha(opacity=#{$o*100});

/* Netscape */
  -moz-opacity: $o;

/* Safari 1.x */
  -khtml-opacity: $o;

/* Good browsers */
  opacity: $o;
}