<%= div_for thumb, 'data-active' => thumb.active do |thumb| %>
  <div class="image-wrapper">
    <%= image_tag thumb.image_path %>
  </div>
  <%= content_tag :p, thumb.label, class: 'thumb-label' %>
  <div class="arrow hidden"></div>
<% end %>
