<h1>Thumbs Up</h1>
<div id="thumb-container">
  <div class="thumb-row rel clearfix">
    <div class="thumb selected" data-active="true" data-path="alice-in-chains">
      <div class="image-wrapper">
        <img src="/assets/image_coming_soon.jpeg">
      </div>
      <p class="thumb-label">ALICE IN CHAINS</p>
      <div class="arrow hidden"></div>
    </div>
    <div class="thumb" data-active="true" data-path="bob-marley">
      <div class="image-wrapper">
        <img src="/assets/image_coming_soon.jpeg">
      </div>
      <p class="thumb-label">BOB MARLEY</p>
      <div class="arrow hidden"></div>
    </div>
    <div class="thumb" data-active="true" data-path="sebastian-bach">
      <div class="image-wrapper">
        <img src="/assets/image_coming_soon.jpeg">
      </div>
      <p class="thumb-label">SEBASTIAN BACH</p>
      <div class="arrow hidden"></div>
    </div>
    <div class="thumb" data-active="true" data-path="crystal-method">
      <div class="image-wrapper">
        <img src="/assets/image_coming_soon.jpeg">
      </div>
      <p class="thumb-label">CRYSTAL METHOD</p>
      <div class="arrow hidden"></div>
    </div>
    <div class="thumb" data-active="true" data-path="bassnectar">
      <div class="image-wrapper">
        <img src="/assets/image_coming_soon.jpeg">
      </div>
      <p class="thumb-label">BASSNECTAR</p>
      <div class="arrow hidden"></div>
    </div>
  </div>
</div>